# Local Terraform state
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl

# Terraform hidden directory
.terraform/

# Crash logs
crash.log

# Sensitive key/cert files
*.pem
*.pub
*.key
*.crt
*.p12
*.pfx

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore personal files
*.DS_Store
*.swp
*.swo
